<style>
h1 {
  border-bottom: 1px solid DarkGray;
  text-align: center;
}
h2 {
  border-bottom: 1px solid LightGrey;
  text-shadow: 2px 2px 1px LightGrey;
}
pre {
  background-color: Ivory;
  color: DarkBlue;
  padding: 2em;
}
</style>
